*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: var(--body-font);
    background-color:var(--body-color);
    color:var(--text-color);

}
img{
    display: block;
    max-width: 100%;
    height: auto;

}
.container{
    display: grid;
    place-items: center;
margin-inline:1.5rem;

}
.cardcontainer{
    display: grid;
    row-gap: 3.5rem;
}
.cardarticle{
    position: relative;
    overflow: hidden;/*..*/
}
.cardimg{
    width: 328px;
    border-radius: 1.5rem;

}
.carddata{
    width: 280px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%,0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -2rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    transition: opacity 1s 1s;

}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}
.carddescription {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
  }
  
  .cardtitle {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
  }
  
  .cardbutton {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--first-color);
  }
  
  .cardbutton:hover {
    text-decoration: underline;
  }
  
  /* Naming animations in hover */
  .cardarticle:hover .carddata {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
  }
  
  .cardarticle:hover {
    animation: remove-overflow 2s forwards;
  }
  
  .cardarticle:not(:hover) {
    animation: show-overflow 2s forwards;
  }
  
  .cardarticle:not(:hover) .carddata {
    animation: remove-data 1s forwards;
  }
  
  /* Card animation */
  @keyframes show-data {
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(-7rem);
    }
  }
  
  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }
  
  @keyframes remove-data {
    0% {
      transform: translateY(-7rem);
    }
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(.5rem);
    }
  }
  
  @keyframes show-overflow {
    0% {
      overflow: initial;
      pointer-events: none;
    }
    50% {
      overflow: hidden;
    }
  }
  
  /*=============== BREAKPOINTS ===============*/
  /* For small devices */
  @media screen and (max-width: 340px) {
    .container {
      margin-inline: 1rem;
    }
  
    .carddata {
      width: 250px;
      padding: 1rem;
    }
  }
  
  /* For medium devices */
  @media screen and (min-width: 768px) {
    .cardcontainer {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1120px) {
    .container {
      height: 80vh;
    }
  
    .cardcontainer {
      grid-template-columns: repeat(3, 1fr);
    }
    .cardimg {
      width: 348px;
    }
    .carddata {
      width: 316px;
      padding-inline: 2.5rem;
    }
  }
  .page-header {
    text-align: center;
    margin: 2rem 0;
}

.page-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--title-color);
    margin-bottom: 1rem;
    text-transform: uppercase; /* Optional: Adds emphasis */
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
